<section class="block container">
  <header class="block_header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, eos!</p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet
        aliquam a numquam laborum sint nostrum dolor quasi fugit doloremque.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp 1x" />
      <source type="image/jpg" srcset="images/easy.jpg 1x" />
      <img class="feature__image" src="images/easy.jpg" />
    </picture>
  </article>

  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem
        veritatis fugiat repudiandae debitis nemo sit ullam incidunt quis saepe
        assumenda?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/fast.webp 1x" />
      <source type="image/jpg" srcset="images/fast.jpg 1x" />
      <img class="feature__image" src="images/fast.jpg" />
    </picture>
  </article>

  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
        adipisci assumenda. Assumenda fugiat dolorem, sunt facilis nemo aliquam
        molestias ducimus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source type="image/webp" srcset="images/wordpress.webp" /> -->
      <source type="image/jpg" srcset="images/wordpress.jpg" />
      <img class="feature__image" src="images/wordpress.jpg" />
    </picture>
  </article>
</section>
